body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 88px 0;
}

img {
  display: block;
  max-width: 100%;
}

main {
  max-width: 1000px;
  padding: 36px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  gap: 32px;
}

.title-form {
  display: flex;
  gap: 14px;
}

.title-form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-form h1 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #555555;
}

.title-form p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6f6f6f;
}

.logo {
  max-width: 120px;
  height: 100%;
}

.line {
  display: block;
  height: 1px;
  width: 100%;
  margin: 10px 0;
  background-color: #9bd5f0;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.6;
}

.description p {
  text-align: justify;
  line-height: 1.5;
}

.email {
  text-decoration: underline;
  color: blue;
}

.warning {
  font-weight: bold;
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  height: 60px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px #fff inset, 0 1px #ddd;
  background-color: #f5f5f5;
}

.accordion-button:hover {
  background-color: #fff;
}

.accordion-button h2, .accordion-button span{
  pointer-events: none;
}

.accordion-button.ativo span{
  transform: rotate(-90deg);
}

.arrow{
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  transition: all 0.3s ease-in-out;
  border-right: 16px solid rgb(0, 162, 255);
}

.arrow.giro{
  transform: rotate(-90deg);
}

.accordion-form {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 24px 0;
  max-height: 15000px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.accordion-form.close{
  max-height: 0px;
  padding: 0;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-form input{
  padding: 14px 4px;
  border-radius: 8px;
}

.input-form-radio{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-form select{
  padding: 14px 4px;
}

.required {
  color: red;
}

.textExplication{
  grid-column: 1/-1;
  text-align: justify;
  line-height: 1.6;
  font-size: 14px;
  color: #555555;
}

.textExplication h4{
  text-align: center;
  font-size: 1.5rem;
}

.alert{
  font-size: 1.1rem;
}

.subTitle{
  text-align: center;
  grid-column: 1/-1;
}

.textarea-form{
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textarea-form textarea{
  max-width: 98%;
  min-width: 150px;
  width: 100%;
  max-height: 500px;
  min-height: 150px;
}

#discountOption{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 20;
  line-clamp: 20;
}

#counterLine{
  margin-top: -24px;
  text-align: start;
  display: flex;
  justify-content: start;
  width: fit-content;
}

#counterCharacter{
  margin-top: -24px;
  text-align: start;
  display: flex;
  justify-content: start;
  width: fit-content;
}

.instructionList{
  text-align: left;
  grid-column: 1/-1;
}

.instructionList ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: disc;
}

.instructionList ul li{
  margin-left: 20px;
  margin-top: 20px;
}

.inputsFile{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputsFile div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.inputsFile label{
  cursor: pointer;
}

.inputsFile input{
  display: none;
}

.area-button{
  cursor: pointer;
  display: flex;
  align-items: start;
  text-align: center;
  max-width: 100px;
}

.area-button p{
  padding: 8px;
  border-radius: 8px;
  background-color: #9bd5f0;
}

.area-button p:hover{
  background-color: #4968ac;
}

.zip{
  height: 100%;
  gap: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
}

.zip div{
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.zip button, .zip label{
  padding: 8px;
  border-radius: 8px;
  background-color: #9bd5f0;
  border: 0px;
  cursor: pointer;
}

.zip button:hover, .zip label:hover{
  background-color: #4968ac;
}

#fileInput{
  display: none;
}

.final-buttons{
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
}

.final-buttons button{
  padding: 16px;
  border-radius: 8px;
  background-color: #9bd5f0;
  border: 0px;
  font-size: 1.2rem;
  cursor: pointer;
}

.final-buttons button:hover{
  background-color: #4968ac;
}

@media(max-width: 700px){
  .accordion-form{
    grid-template-columns: 1fr;
  }
}